<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 8px;
        border: 1px solid #ddd;
        font-size: 12px;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h2>{{ title }}</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for c in contacts %}
        <tr>
          <td>{{ c.name }}</td>
          <td>{{ c.phone_no }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.subject }}</td>
          <td>{{ c.message }}</td>
          <td>{{ c.created_at }}</td>
          <td>{{ c.updated_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
