<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Claim Purchase</title>
  </head>
  <body>
    <h1>Hello {{client_mail}}</h1>
    <p>
      Thank you for taking interest in MAN and purchasing our {{purchase_item}},
      click the link below to claim the purchase.
    </p>
    <a href="{{purchase_download_url}}">Download {{purchase_item}}</a>
    <a href="{{purchase_view_url}}">View {{purchase_item}}</a>
    <br />
  </body>
</html>
