<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invitation to MAN {{type}}</title>
  </head>
  <body>
    <h1>Hello {{client_mail}}</h1>
    <p>
      You have been invited to MANs Annual General Meeting, kindly go to
      <a href="">our website</a> and register for the meeting as a
      {{registration_name}}
    </p>
    <p><strong>This is your Invitation number:</strong> {{ref_no}}</p>
  </body>
</html>
